.full-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dialog-container {
  height: auto;
  width: 60vw;
  background-color: #151515;
  border-radius: 8px;
  padding: 16px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.close-button {
  background-color: transparent;
  border-style: none;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 40px;
  font-size: large;
  float: right;
}

.character-title{
  font-size: 16pt;
  margin-bottom: 10px;
}

.character-image{
  border-radius: 20px;
  max-width: 100%;
}

.single-character {
  display: flex;
  flex-direction: column;
}

.character-details{
  display: flex;
  flex-direction: column;
}

.divider{
  height: 1px;
  background-color: white;margin: 8px 0px;
}

.character-name{
  margin: 8px 0px;
  text-align: justify;
  line-height: 1.2;
}

@media screen and (max-width: 599px) {
  .dialog-container {
    width: 80vw;
  }

  .character-image{
    border-radius: 10px;
  }

  .character-title{
    font-size: 10pt;
  }

  .character-name{
    font-size: 10pt;
  }
}

