<div class="full-container">
    <div class="dialog-container">
        <div class="header-dialog">
            <button class="close-button" (click)="closeComponent()">✕</button>
        </div>
        <div class="incipit">{{incipit}}</div>

        <div class="random-section" *ngIf="random">
            <div class="player-selection">
                <div class="player-number" (click)="getMoreRandom(filteredCharacters, 1)">
                    <img src="./assets/images/Uno.png" class="player-number-button">
                </div>
                <div class="player-number" (click)="getMoreRandom(filteredCharacters, 2)">
                    <img src="./assets/images/Due.png" class="player-number-button">
                </div>
                <div class="player-number" (click)="getMoreRandom(filteredCharacters, 3)">
                    <img src="./assets/images/Tre.png" class="player-number-button">
                </div>
                <div class="player-number" (click)="getMoreRandom(filteredCharacters, 4)">
                    <img src="./assets/images/Quattro.png" class="player-number-button">
                </div>
                <div class="player-number" (click)="getMoreRandom(filteredCharacters, 5)">
                    <img src="./assets/images/Cinque.png" class="player-number-button">
                </div>
            </div>

            <div class="characters-container">
                <div class="characters-list">
                    <div class="list" *ngFor="let character of squad; let i = index">
                        <div class="single-character">
                            <img class="character-image" title="{{character.name}}" src={{character.images}}>
                            <hr [ngStyle]="{ 'color': character.color, 'width': '100%' }">
                            <div>Player {{i + 1}}</div>
                            <div><span>Ammo:</span> <span style="color: red;"> {{character.ammo}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="manual-section" *ngIf="!random">
            <div class="player-selection" *ngIf="!manualNumberClicked">
                <div class="player-number" (click)="manualNumberPlayerSelected(filteredCharacters, 1)">
                    <img src="./assets/images/Uno.png" class="player-number-button">
                </div>
                <div class="player-number" (click)="manualNumberPlayerSelected(filteredCharacters, 2)">
                    <img src="./assets/images/Due.png" class="player-number-button">
                </div>
                <div class="player-number" (click)="manualNumberPlayerSelected(filteredCharacters, 3)">
                    <img src="./assets/images/Tre.png" class="player-number-button">
                </div>
                <div class="player-number" (click)="manualNumberPlayerSelected(filteredCharacters, 4)">
                    <img src="./assets/images/Quattro.png" class="player-number-button">
                </div>
                <div class="player-number" (click)="manualNumberPlayerSelected(filteredCharacters, 5)">
                    <img src="./assets/images/Cinque.png" class="player-number-button">
                </div>
            </div>
            <div class="incipit incipit-subtitle" *ngIf="manualNumberClicked && !manualSquadCompleted">Click on character to select</div>

            <div class="characters-container" *ngIf="!manualSquadCompleted">
                <div class="characters-list">
                    <div class="list" *ngFor="let character of squadToChoice">
                        <div class="single-character">
                            <img class="character-image" title="{{character.name}}" src={{character.images}} (click)="characterSelected(character)">
                            <!-- <span>{{character.name}}</span> -->
                            <hr [ngStyle]="{ 'color': character.color, 'width': '100%' }">
                            <!-- <div>Color: {{character.color}}</div> -->
                            <div>from: {{character.expansion}}</div>
                            <div><span>Ammo:</span> <span style="color: red;"> {{character.ammo}}</span></div>
                            <!-- <span>{{character.expansion}}</span> -->
                            <!-- <span>{{character.trait}}</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="incipit" *ngIf="firstCharacterSelected && !manualSquadCompleted">Your team</div>
            <div class="characters-container">
                <div class="characters-list">
                    <div class="list" *ngFor="let character of squad; let i = index">
                        <div class="single-character">
                            <img class="character-image" title="{{character.name}}" src={{character.images}}>
                            <hr [ngStyle]="{ 'color': character.color, 'width': '100%' }">
                            <div>Player {{i + 1}}</div>
                            <div><span>Ammo:</span> <span style="color: red;"> {{character.ammo}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
