<diV class="home-container">

    <div class="header-section-night" [ngClass]="isLockdown ? 'lockdown' : 'standard'">
        <img class="header-image" *ngIf="!isLockdown" src="./assets/images/title-definitive.png" (click)="changeVersion()">
        <img class="header-image-lockdown" *ngIf="isLockdown" src="./assets/images/title-lockdown-definitive-red.png" (click)="changeVersion()">
        <img class="characters-image" *ngIf="!isLockdown" [routerLink]="['/character-list']" src="./assets/images/title-play.png">
        <img class="characters-image" *ngIf="isLockdown" [routerLink]="['/character-list']" src="./assets/images/title-play-red.png">
    </div>
    <div class="footer-container">
        <div class="disclaimer-container">
            <div class="nemesis-disclaimer">
                Disclaimer: We are NOT affiliated with this game, this is a fan site dedicated to the game. Randomizer is not affiliated with or endorsed by Awaken Realms/Cranio Creations.
            </div>
        </div>
    </div>

</diV>
