<div class="characters-container-total">

    <div>
        <button type="button" class="home-icon">
          <img [routerLink]="['/home']" src="./assets/images/home.svg">
        </button>
    </div>

    <div class="filter-section">
        <!-- <div class="filter-title">
            Expansions
            <img class="filter-icon" *ngIf="isFilterClosed" (click)="openCloseFilter()" src="./assets/images/arrow-down-white.svg">
            <img class="filter-icon" *ngIf="!isFilterClosed" (click)="openCloseFilter()" src="./assets/images/arrow-up-white.svg">
        </div> -->

        <div *ngIf="!(isHandset | async) && !isFilterClosed" class="filter-container">

            <div>
              <button class="squad-button">Random Squad</button>
            </div>

            <div class="filter-expansions">
              <div class="single-section-filter">
                <div class="icon-title">Expansions</div>
                <div class="row">
                  <label class="container">
                    <input type="checkbox" (click)="filterBy('base', 'expansion')">
                    <span class="race-name">Base Game</span>
                  </label>
                  <label class="container">
                    <input type="checkbox" (click)="filterBy('aftermath', 'expansion')">
                    <span class="race-name">Aftermath</span>
                  </label>
                  <label class="container">
                    <input type="checkbox" (click)="filterBy('medic', 'expansion')">
                    <span class="race-name">Medic Expansion</span>
                  </label>
                </div>
              </div>
            </div>

            <div>
              <button class="squad-button">Choose Squad</button>
            </div>

        </div>

        <div *ngIf="(isHandset | async) && !isFilterClosed" class="filter-section">

            <div class="filter-race">
                <div class="single-section-filter">
                    <div class="icon-title">Race</div>
                    <div>
                        <div class="left">
                            <label class="container">
                                <input type="checkbox" (click)="filterBy('human', 'race')">
                                <span class="race-name">Human</span>
                            </label>
                            <label class="container">
                                <input type="checkbox" (click)="filterBy('demon', 'race')">
                                <span class="race-name">Demon</span>
                            </label>
                            <label class="container">
                                <input type="checkbox" (click)="filterBy('fairy', 'race')">
                                <span class="race-name">Fairy</span>
                            </label>
                        </div>
                        <div class="right">
                            <label class="container">
                                <input type="checkbox" (click)="filterBy('giant', 'race')">
                                <span class="race-name">Giant</span>
                            </label>
                            <label class="container">
                                <input type="checkbox" (click)="filterBy('goddess', 'race')">
                                <span class="race-name">Goddes</span>
                            </label>
                            <label class="container">
                                <input type="checkbox" (click)="filterBy('unknown', 'race')">
                                <span class="race-name">Unknown</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="characters-container">
        <!-- <div class="compact-button-container">
            <span>Compact Version</span>
            <label class="switch">
                <input type="checkbox" (click)="changeView()" [checked]="isCompact">
                <span class="slider round"></span>
            </label>
        </div> -->
        <div [ngClass]="bannerCharacters.length > 0 ? 'characters-list-banner':'characters-list'">
            <div class="list" *ngFor="let character of filteredCharacters">
                <div class="single-character">
                    <img class="character-image" title="{{character.name}}" src={{character.images}}>
                    <!-- <span *ngIf="!isCompact" class="character-name">{{character.name}}</span> -->
                </div>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="bannerCharacters.length > 0 && !editClicked" class="banner-row">
        <button class="edit-button" (click)="editBanner()">Edit</button>
        <div class="banner-container" *ngFor="let character of bannerCharacters">
            <div class="banner-character">
                <img class="banner-image" src={{character.images}}>
            </div>
        </div>
    </div>

    <div *ngIf="editClicked" class="modal">
        <div class="popup">
            <div class="banner-container" *ngFor="let character of bannerCharacters">
                <div class="banner-char">
                    <img class="banner-char-image" src={{character.images}}>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <button type="button" class="to-top-button" (click)="toTopPage()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
                d="M13 19V7.83l4.88 4.88c.39.39 1.03.39 1.42 0 .39-.39.39-1.02 0-1.41l-6.59-6.59c-.39-.39-1.02-.39-1.41 0l-6.6 6.58c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L11 7.83V19c0 .55.45 1 1 1s1-.45 1-1z" />
        </svg>
    </button> -->
</div>
