<div class="characters-container-total">

    <div>
        <button type="button" class="home-button">
          <img class="home-icon" [routerLink]="['/home']" src="./assets/images/home.png">
        </button>
    </div>

    <div class="filter-section">

        <div *ngIf="!(isHandset | async) && !isFilterClosed" class="filter-container">

            <img class="random-image" src="./assets/images/random.png" (click)="teamButtonsClicked('random', filteredCharacters)">
            <!-- <img class="random-image" src="./assets/images/random.png" (click)="getMoreRandom(filteredCharacters, 5)"> -->

            <div class="filter-expansions">
              <div class="single-section-filter">
                <div class="icon-title">Expansions</div>
                <div class="row">
                  <label class="container">
                    <input type="checkbox" (click)="filterBy('base', 'expansion')">
                    <span class="expansion-name">Base Game</span>
                  </label>
                  <label class="container">
                    <input type="checkbox" (click)="filterBy('aftermath', 'expansion')">
                    <span class="expansion-name">Aftermath</span>
                  </label>
                  <label class="container">
                    <input type="checkbox" (click)="filterBy('medic', 'expansion')">
                    <span class="expansion-name">Medic Expansion</span>
                  </label>
                  <label class="container">
                    <input type="checkbox" (click)="filterBy('lockdown', 'expansion')">
                    <span class="expansion-name">Lockdown</span>
                  </label>
                </div>
              </div>
            </div>

            <img class="random-image" src="./assets/images/manual.png" (click)="teamButtonsClicked('manual', filteredCharacters)">

        </div>

        <div *ngIf="(isHandset | async) && !isFilterClosed" class="filter-container">

          <div class="filter-expansions">
            <div class="single-section-filter">
              <div class="icon-title">Expansions</div>
              <div class="row">
                <label class="container">
                  <input type="checkbox" (click)="filterBy('base', 'expansion')">
                  <span class="expansion-name">Base Game</span>
                </label>
                <label class="container">
                  <input type="checkbox" (click)="filterBy('aftermath', 'expansion')">
                  <span class="expansion-name">Aftermath</span>
                </label>
                <label class="container">
                  <input type="checkbox" (click)="filterBy('medic', 'expansion')">
                  <span class="expansion-name">Medic Expansion</span>
                </label>
              </div>
            </div>
          </div>

          <img class="random-image" src="./assets/images/random.png" (click)="teamButtonsClicked('random', filteredCharacters)">

          <img class="random-image" src="./assets/images/manual.png" (click)="teamButtonsClicked('manual', filteredCharacters)">

      </div>

    </div>

    <div class="characters-container">
        <div class="characters-list">
            <div class="list" *ngFor="let character of filteredCharacters">
                <div class="single-character">
                    <img class="character-image" title="{{character.name}}" src={{character.images}} (click)="characterClicked(character)">
                    <!-- <span *ngIf="!isCompact" class="character-name">{{character.name}}</span> -->
                </div>
            </div>
        </div>
    </div>

</div>

<app-team [teamInfo]="teamData" (closeEmitted)="isTeamVisible=false" class="app-team" *ngIf="isTeamVisible"></app-team>
